{% extends '../layouts/default.twig' %}
{% set head_title = 'Demo Page' %}
{% set body_class = '' %}
{% set menu_active = 'demo-page' %}

{% block page %}

  <style>
    /* Inline styling for the demo purpose */
    .section {
      margin-bottom: 7rem;
      padding-bottom: 7rem;
      border-bottom: 5px solid #f5f5f5;
    }
    .section--last {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }
    .section-title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
    .demo-sidebar-wrapper {
      padding: 2rem 0;
      border-bottom: 5px solid #f5f5f5;
      margin-bottom: 5rem;
    }
    .demo-sidebar__title {
      font-size: .75rem;
      text-transform: uppercase;
      color: black;
      margin-bottom: .375rem;
    }
    .demo-sidebar ul {
      margin-bottom: 1.5rem;
      font-size: .8125rem;
    }
    .demo-sidebar li {
      margin-bottom: .25rem;
    }
    .demo-sidebar a {
      color: #3d4852;
    }
    pre {
      font-size: .875rem;
      margin: 0;
    }
    .highlight {
      background-color: #f8f9fa;
      padding-left: 1rem;
      padding-right: 1rem;
      border-top: 1px solid #eee;
    }
    code.hljs {
      background-color: transparent;
    }
    .demo-square {
      display: inline-block;
      padding: .5rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      line-height: 1;
      margin-right: .25rem;
      margin-bottom: .25rem;
      vertical-align: middle;
    }
    .buttons .btn {
      margin-bottom: .25rem;
    }
    @media (min-width: 768px) {
      .demo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      .demo-sidebar {
        width: 210px;
        position: fixed;
        top: 80px;
      }
      .demo-sidebar-wrapper {
        margin-bottom: 0;
        border: none;
        padding-right: 2rem;
        height: calc(100vh - 110px + 2rem);
        overflow-y: auto;
      }
      .demo-content {
        width: 70%;
        max-width: 680px;
        margin-left: 210px;
        padding-left: 2rem;
      }
      .buttons .btn {
        margin-bottom: 0;
      }
    }
  </style>

  {% include '../../modules/navbar/navbar.twig' %}

  <div class="container">

    <div class="demo">

      <div class="demo-sidebar">

        <div class="demo-sidebar-wrapper">

          <h3 class="demo-sidebar__title">
            Typography
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="#colors" data-scroll>
                Colors
              </a>
            </li>
            <li>
              <a href="#font-family" data-scroll>
                Font Family
              </a>
            </li>
            <li>
              <a href="#font-size" data-scroll>
                Font Size
              </a>
            </li>
            <li>
              <a href="#font-weights" data-scroll>
                Font Weights
              </a>
            </li>
            <li>
              <a href="#headings" data-scroll>
                Headings
              </a>
            </li>
            <li>
              <a href="#lists" data-scroll>
                Lists
              </a>
            </li>
            <li>
              <a href="#paragraph" data-scroll>
                Paragraph
              </a>
            </li>
            <li>
              <a href="#style-decoration" data-scroll>
                Style & Decoration
              </a>
            </li>
            <li>
              <a href="#alignment" data-scroll>
                Text Alignment
              </a>
            </li>
          </ul>

          <h3 class="demo-sidebar__title">
            Spacing
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="#spacing" data-scroll>
                Margin & Padding
              </a>
            </li>
          </ul>

          <h3 class="demo-sidebar__title">
            Components
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="#buttons" data-scroll>
                Buttons
              </a>
            </li>
          </ul>

          <h3 class="demo-sidebar__title">
            Modules
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="#navbar" data-scroll>
                Navbar
              </a>
            </li>
            <li>
              <a href="#carousel" data-scroll>
                Carousel
              </a>
            </li>
            <li>
              <a href="#module-search-overlay" data-scroll>
                Search Overlay
              </a>
            </li>
          </ul>

          <h3 class="demo-sidebar__title">
            JS Components
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="#js-collapse" data-scroll>
                Collapse
              </a>
            </li>
            <li>
              <a href="#js-smooth-scroll" data-scroll>
                Smooth Scroll
              </a>
            </li>
            <li>
              <a href="#js-toggle" data-scroll>
                Toggle Element
              </a>
            </li>
          </ul>

          <h3 class="demo-sidebar__title">
            Bootstrap
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="#bootstrap-display" data-scroll>
                Display
              </a>
            </li>
            <li>
              <a href="#bootstrap-flex" data-scroll>
                Flex
              </a>
            </li>
            <li>
              <a href="#bootstrap-grid" data-scroll>
                Grid
              </a>
            </li>
            <li>
              <a href="#bootstrap-media-queries" data-scroll>
                Responsive Breakpoints
              </a>
            </li>
          </ul>

          <h3 class="demo-sidebar__title">
            Mixins / Utilities
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="#mixins" data-scroll>Overview</a>
            </li>
          </ul>

          <h3 class="demo-sidebar__title">
            Frontie Webpack
          </h3>
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/tomaszbujnowicz/frontie-webpack">GitHub</a>
            </li>
          </ul>

        </div>

      </div>

      <div class="demo-content">

        <div id="colors" class="section">
          <h2 class="section-title">
            Colors
          </h2>

          <div class="mb-6">
            <p>
              <strong>Text Colors:</strong>
            </p>
            <p class="p-1 text-default bg-light">
              .text-default
            </p>
            <p class="p-1 text-primary bg-light">
              .text-primary
            </p>
            <p class="p-1 text-secondary bg-light">
              .text-secondary
            </p>
            <p class="p-1 text-white bg-dark">
              .text-white
            </p>
            <p class="p-1 text-light bg-dark">
              .text-light
            </p>
            <p class="p-1 text-dark bg-light">
              .text-dark
            </p>
            <p class="p-1 text-black bg-light">
              .text-black
            </p>
            <p class="p-1 text-success bg-light">
              .text-success
            </p>
            <p class="p-1 text-error bg-light">
              .text-error
            </p>
          </div>

          <p>
            <strong>Background Colors:</strong>
          </p>
          <p class="p-1 bg-default text-white">
            .bg-default
          </p>
          <p class="p-1 bg-primary text-white">
            .bg-primary
          </p>
          <p class="p-1 bg-secondary text-white">
            .bg-secondary
          </p>
          <p class="p-1 bg-white">
            .bg-white
          </p>
          <p class="p-1 bg-light">
            .bg-light
          </p>
          <p class="p-1 bg-dark text-white">
            .bg-dark
          </p>
          <p class="p-1 bg-black text-white">
            .bg-black
          </p>
          <p class="p-1 bg-success text-white">
            .bg-success
          </p>
          <p class="p-1 bg-error text-white">
            .bg-error
          </p>
        </div>

        <div id="font-family" class="section">
          <h2 class="section-title">
            Font Family
          </h2>
          <p class="font-family-base">
            .font-family-base
          </p>
          <p class="font-family-sans">
            .font-family-sans
          </p>
          <p class="font-family-serif">
            .font-family-serif
          </p>
          <p class="font-family-mono">
            .font-family-mono
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;p class=&quot;font-family-base&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-family-sans&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-family-serif&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-family-mono&quot;&gt;...&lt;/p&gt;
            </code></pre>
          </div>
        </div>

        <div id="font-size" class="section">
          <h2 class="section-title">
            Font Size
          </h2>
          <p class="text-xs">
            .text-xs
          </p>
          <p class="text-sm">
            .text-sm
          </p>
          <p class="text-base">
            .text-base
          </p>
          <p class="text-lg">
            .text-lg
          </p>
          <p class="text-xl">
            .text-xl
          </p>
          <p class="text-xxl">
            .text-xxl
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;p class=&quot;text-xs&quot;&gt;...&lt;/p&gt;   font-size: .75rem
&lt;p class=&quot;text-sm&quot;&gt;...&lt;/p&gt;   font-size: .875rem
&lt;p class=&quot;text-base&quot;&gt;...&lt;/p&gt; font-size: 1rem
&lt;p class=&quot;text-lg&quot;&gt;...&lt;/p&gt;   font-size: 1.125rem
&lt;p class=&quot;text-xl&quot;&gt;...&lt;/p&gt;   font-size: 1.25rem
&lt;p class=&quot;text-xxl&quot;&gt;...&lt;/p&gt;  font-size: 1.5rem
            </code></pre>
          </div>
        </div>

        <div id="font-weights" class="section">
          <h2 class="section-title">
            Font Weights
          </h2>
          <p class="font-weight-hairline">
            .font-weight-hairline
          </p>
          <p class="font-weight-thin">
            .font-weight-thin
          </p>
          <p class="font-weight-light">
            .font-weight-light
          </p>
          <p class="font-weight-normal">
            .font-weight-normal
          </p>
          <p class="font-weight-medium">
            .font-weight-medium
          </p>
          <p class="font-weight-semibold">
            .font-weight-semibold
          </p>
          <p class="font-weight-bold">
            .font-weight-bold
          </p>
          <p class="font-weight-extrabold">
            .font-weight-extrabold
          </p>
          <p class="font-weight-black">
            .font-weight-black
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;p class=&quot;font-weight-hairline&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-thin&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-light&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-normal&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-medium&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-semibold&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-bold&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-extrabold&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;font-weight-black&quot;&gt;...&lt;/p>
            </code></pre>
          </div>
        </div>

        <div id="headings" class="section">
          <h2 class="section-title">
            Headings
          </h2>
          {# This is Twig Comment #}
          {# This is sample for loop written in Twig.js #}
          {% for i in 1..6 %}
            <h{{i}}>Responsive Headline {{ i }}</h{{i}}>
          {% endfor %}
          <div class="highlight mb-6">
            <pre><code class="html">
&lt;h1&gt;Responsive Headline 1&lt;/h1&gt;
&lt;h2&gt;Responsive Headline 2&lt;/h2&gt;
&lt;h3&gt;Responsive Headline 3&lt;/h3&gt;
&lt;h4&gt;Responsive Headline 4&lt;/h4&gt;
&lt;h5&gt;Responsive Headline 5&lt;/h5&gt;
&lt;h6&gt;Responsive Headline 6&lt;/h6&gt;
            </code></pre>
          </div>

          <p>
            .h1 through .h6 classes are also available
          </p>
          {% for i in 1..6 %}
            <p class="h{{i}}">Responsive Headline {{ i }}</p>
          {% endfor %}
          <div class="highlight">
            <pre><code class="html">
&lt;p class=&quot;h1&quot;&gt;Responsive Headline 1&lt;/p&gt;
&lt;p class=&quot;h2&quot;&gt;Responsive Headline 2&lt;/p&gt;
&lt;p class=&quot;h3&quot;&gt;Responsive Headline 3&lt;/p&gt;
&lt;p class=&quot;h4&quot;&gt;Responsive Headline 4&lt;/p&gt;
&lt;p class=&quot;h5&quot;&gt;Responsive Headline 5&lt;/p&gt;
&lt;p class=&quot;h6&quot;&gt;Responsive Headline 6&lt;/p&gt;
            </code></pre>
          </div>
        </div>

        <div id="lists" class="section">
          <h2 class="section-title">
            Lists
          </h2>

          <div class="section">

            <h2 class="section-title">
              List: Unordered
            </h2>
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
            </ul>
            <div class="highlight">
              <pre><code class="html">
&lt;ul&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit
  &lt;ul&gt;
    &lt;li&gt;Phasellus iaculis neque&lt;/li&gt;
    &lt;li&gt;Purus sodales ultricies&lt;/li&gt;
  &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;Faucibus porta lacus fringilla vel&lt;/li&gt;
  &lt;li&gt;Aenean sit amet erat nunc&lt;/li&gt;
&lt;/ul&gt;
              </code></pre>
            </div>

          </div>

          <div class="section">

            <h2 class="section-title">
              List: Ordered
            </h2>
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
            </ol>
            <div class="highlight">
              <pre><code class="html">
&lt;ol&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
  &lt;li&gt;Integer molestie lorem at massa&lt;/li&gt;
&lt;/ol&gt;
              </code></pre>
            </div>

          </div>

          <div class="section">

            <h2 class="section-title">
              List: Description
            </h2>
            <dl>
              <dt>Term 1</dt>
              <dd>Consectetur adipiscing elit</dd>
              <dt>Term 2</dt>
              <dd>Faucibus porta lacus fringilla vel</dd>
            </dl>
            <div class="highlight">
            <pre><code class="html">
&lt;dl&gt;
  &lt;dt&gt;Term 1&lt;/dt&gt;
  &lt;dd&gt;Consectetur adipiscing elit&lt;/dd&gt;
  &lt;dt&gt;Term 2&lt;/dt&gt;
  &lt;dd&gt;Faucibus porta lacus fringilla vel&lt;/dd&gt;
&lt;/dl&gt;
              </code></pre>
            </div>

          </div>

          <div class="section">

            <h2 class="section-title">
              List: Unstyled
            </h2>
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
            </ul>
            <div class="highlight">
              <pre><code class="html">
&lt;ul class=&quot;list-unstyled&quot;&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit
  &lt;ul&gt;
    &lt;li&gt;Phasellus iaculis neque&lt;/li&gt;
    &lt;li&gt;Purus sodales ultricies&lt;/li&gt;
  &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;Faucibus porta lacus fringilla vel&lt;/li&gt;
  &lt;li&gt;Aenean sit amet erat nunc&lt;/li&gt;
&lt;/ul&gt;
              </code></pre>
            </div>

          </div>

          <div class="section section--last">

            <h2 class="section-title">
              List: Inline
            </h2>
            <ul class="list-inline">
              <li class="list-inline__item">Lorem ipsum</li>
              <li class="list-inline__item">Phasellus iaculis</li>
              <li class="list-inline__item">Nulla volutpat</li>
            </ul>
            <div class="highlight">
              <pre><code class="html">
  &lt;ul class=&quot;list-inline&quot;&gt;
    &lt;li class=&quot;list-inline__item&quot;&gt;Lorem ipsum&lt;/li&gt;
    &lt;li class=&quot;list-inline__item&quot;&gt;Phasellus iaculis&lt;/li&gt;
    &lt;li class=&quot;list-inline__item&quot;&gt;Nulla volutpat&lt;/li&gt;
  &lt;/ul&gt;
              </code></pre>
            </div>

          </div>

        </div>

        <div id="paragraph" class="section">
          <h2 class="section-title">
            Paragraph
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur sample link adipisicing elit. Dolores explicabo architecto perferendis ut nemo! Sapiente, eum quidem placeat, blanditiis, maiores, labore.
          </p>
          <p>
            <a href="#">Sample link</a>
          </p>
          <p>
            You can use the mark tag to <mark>highlight</mark> text.
          </p>
          <p>
            <s>This line of text is meant to be treated as no longer accurate.</s>
          </p>
          <p>
            <u>This line of text will render as underlined</u>
          </p>
          <p>
            <strong>This line rendered as bold text.</strong>
          </p>
          <p>
            <em>This line rendered as italicized text.</em>
          </p>

          <div class="highlight mb-6">
            <pre><code class="html">
&lt;p&gt;
Lorem ipsum dolor sit amet, consectetur sample link adipisicing elit. Dolores explicabo architecto perferendis ut nemo! Sapiente, eum quidem placeat, blanditiis, maiores, labore.
&lt;/p&gt;
&lt;p&gt;
&lt;a href=&quot;#&quot;&gt;Sample link&lt;/a&gt;
&lt;/p&gt;
&lt;p&gt;You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.&lt;/p&gt;
&lt;p&gt;&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;&lt;/p&gt;
&lt;p&gt;&lt;u&gt;This line of text will render as underlined&lt;/u&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;&lt;/p&gt;
            </code></pre>
          </div>

          <p>
            Blockquote
          </p>
          <blockquote>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod atque accusamus voluptate optio ea! Pariatur ipsam nihil, maiores dignissimos blanditiis natus, nostrum voluptas eveniet accusantium iste recusandae cum laborum reiciendis.
            </p>
            <cite>- John Doe</cite>
          </blockquote>
          <div class="highlight">
            <pre><code class="html">
&lt;blockquote&gt;
  &lt;p&gt;...&lt;/p&gt;
  &lt;cite&gt;...&lt;/cite&gt;
&lt;/blockquote&gt;
            </code></pre>
          </div>

        </div>

        <div id="style-decoration" class="section">
          <h2 class="section-title">
            Style & Decorations
          </h2>
          <p class="italic">
            .italic
          </p>
          <p class="uppercase">
            .uppercase
          </p>
          <p class="lowercase">
            .lowercase
          </p>
          <p class="capitalize">
            .capitalize
          </p>
          <p class="normal-case">
            .normal-case
          </p>
          <p class="underline">
            .underline
          </p>
          <p class="line-through">
            .line-through
          </p>
          <p class="no-underline">
            .no-underline
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;p class=&quot;italic&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;uppercase&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;lowercase&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;capitalize&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;normal-case&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;underline&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;line-through&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;no-underline&quot;&gt;...&lt;/p&gt;
            </code></pre>
          </div>
        </div>

        <div id="alignment" class="section">
          <h2 class="section-title">
            Text Alignment
          </h2>
          <p class="text-left">
            .text-left
          </p>
          <p class="text-center">
            .text-center
          </p>
          <p class="text-right">
            .text-right
          </p>
          <p class="text-justify">
            .text-justify
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;p class=&quot;text-left&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;text-center&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;text-right&quot;&gt;...&lt;/p&gt;
&lt;p class=&quot;text-justify&quot;&gt;...&lt;/p&gt;
            </code></pre>
          </div>
        </div>

        <div id="spacing" class="section">
          <h2 class="section-title">
            Spacing
          </h2>
          <p>
            Utilities for controlling an element's padding and margin.
          </p>
          <p>
            All:
          </p>
          <p class="mb-2">
            <code class="text-secondary">.{property}{side}-{size}</code>
          </p>
          <p>
            Breakpoints: sm, md, lg, xl
          </p>
          <p class="mb-3">
            <code class="text-secondary">.{breakpoint}-{property}{side}-{size}</code>
          </p>
          <div class="row">
            <div class="col-sm-4">
              <p>
                <strong>Property</strong>
              </p>
              <ul class="list-unstyled text-sm">
                <li>
                  <code class="demo-square">p</code> padding
                </li>
                <li>
                  <code class="demo-square">m</code> Margin
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <p>
                <strong>Side</strong>
              </p>
              <ul class="list-unstyled text-sm">
                <li>
                  <code class="demo-square">&nbsp;</code> All
                </li>
                <li>
                  <code class="demo-square">t</code> Top
                </li>
                <li>
                  <code class="demo-square">r</code> Right
                </li>
                <li>
                  <code class="demo-square">b</code> Bottom
                </li>
                <li>
                  <code class="demo-square">l</code> Left
                </li>
                <li>
                  <code class="demo-square">x</code> Horizontal
                </li>
                <li>
                  <code class="demo-square">y</code> Vertical
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <p>
                <strong>Space</strong>
              </p>
              <ul class="list-unstyled text-sm mb-6">
                <li>
                  <code class="demo-square">0</code> 0
                </li>
                <li>
                  <code class="demo-square">025</code> .25rem
                </li>
                <li>
                  <code class="demo-square">05</code> .5rem
                </li>
                <li>
                  <code class="demo-square">075</code> .75rem
                </li>
                <li>
                  <code class="demo-square">1</code> 1rem
                </li>
                <li>
                  <code class="demo-square">2</code> 2rem
                </li>
                <li>
                  <code class="demo-square">3</code> 3rem
                </li>
                <li>
                  <code class="demo-square">4</code> 4rem
                </li>
                <li>
                  <code class="demo-square">5</code> 5rem
                </li>
                <li>
                  <code class="demo-square">6</code> 6rem
                </li>
                <li>
                  <code class="demo-square">7</code> 7rem
                </li>
                <li>
                  <code class="demo-square">8</code> 8rem
                </li>
                <li>
                  <code class="demo-square">auto</code> Auto <span class="text-xs">(margins only)</span>
                </li>
              </ul>
            </div>
          </div>
          <p>
            Example:
          </p>
          <ul class="text-sm mb-3">
            <li>
              <code class="text-secondary">.m-1</code> would add <code class="text-secondary">1rem</code> of margin to the each side of the element.
            </li>
            <li>
              <code class="text-secondary">.mb-4</code> would add <code class="text-secondary">4rem</code> of margin to the bottom of the element.
            </li>
            <li>
              <code class="text-secondary">.pt-025</code> would add <code class="text-secondary">.25rem</code> of padding to the top of the element.
            </li>
            <li>
              <code class="text-secondary">.mb-2 sm-mb-3 md-mb-4 lg-mb-5 xl-mb-6</code> would add <code class="text-secondary">2rem, sm: 3rem, md: 4rem, lg: 5rem, xl: 6rem</code> of margin to the bottom of the element.
            </li>
            <li>
              <code class="text-secondary">.mx-auto</code> would add <code class="text-secondary">margin-left: auto; margin-right: auto;</code> to the element.
            </li>
          </ul>
          <p>
            Example
          </p>
          <div class="highlight mb-3">
            <pre><code class="html">
&lt;div class=&quot;mb-0&quot;&gt;&lt;/div&gt;      margin-bottom: 0;
&lt;div class=&quot;mb-025&quot;&gt;&lt;/div&gt;    margin-bottom: .25rem;
&lt;div class=&quot;mb-05&quot;&gt;&lt;/div&gt;     margin-bottom: .5rem;
&lt;div class=&quot;mb-075&quot;&gt;&lt;/div&gt;    margin-bottom: .75rem;
&lt;div class=&quot;mb-1&quot;&gt;&lt;/div&gt;      margin-bottom: 1rem;
&lt;div class=&quot;mb-2&quot;&gt;&lt;/div&gt;      margin-bottom: 2rem;
...
            </code></pre>
          </div>

          <p>
            Responsive
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;p class=&quot;mb-2 sm-mb-3 md-mb-4 lg-mb-5 xl-mb-6&quot;&gt;

margin-bottom: 2rem;
@media screen and (min-width: 576px) { margin-bototm: 3rem; }
@media screen and (min-width: 768px) { margin-bototm: 4rem; }
@media screen and (min-width: 992px) { margin-bototm: 5rem; }
@media screen and (min-width: 1200px){ margin-bototm: 6rem; }
            </code></pre>
          </div>
        </div>

        <div id="buttons" class="section buttons">
          <h2 class="section-title">
            Component: Buttons
          </h2>
          <p>
            <button class="btn">Button</button>
            <button class="btn" disabled>Button Disabled</button>
          </p>
          <div class="highlight mb-6">
            <pre><code class="html">
&lt;button class=&quot;btn&quot;&gt;Button&lt;/button&gt;
&lt;button class=&quot;btn&quot; disabled&gt;Button Disabled&lt;/button&gt;
            </code></pre>
          </div>

          <p>
            <a href="#" class="btn btn-sm">Button SM</a>
            <a href="#" class="btn">Button</a>
            <a href="#" class="btn btn-lg">Button LG</a>
          </p>
          <div class="highlight mb-6">
            <pre><code class="html">
&lt;a href=&quot;#&quot; class=&quot;btn btn-sm&quot;&gt;Button SM&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-lg&quot;&gt;Button LG&lt;/a&gt;
            </code></pre>
          </div>

          <p>
            <a href="#" class="btn btn-outline">Button Outline</a>
          </p>
          <p>
            <a href="#" class="btn btn-link">Button Link</a>
          </p>
          <p>
            <a href="#" class="btn btn-block">Button Block</a>
          </p>

          <div class="highlight mb-6">
            <pre><code class="html">
&lt;a href=&quot;#&quot; class=&quot;btn btn-outline&quot;&gt;Button Outline&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-link&quot;&gt;Button Link&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-block&quot;&gt;Button Block&lt;/a&gt;
            </code></pre>
          </div>

          <p>
            <a href="#" class="btn btn-primary">Primary</a>
            <a href="#" class="btn btn-secondary">Secondary</a>
            <a href="#" class="btn btn-success">Success</a>
            <a href="#" class="btn btn-error">Error</a>
            <a href="#" class="btn btn-white">White</a>
            <a href="#" class="btn btn-black">Black</a>
          </p>
          <p>
            <a href="#" class="btn btn-outline btn-primary">Primary</a>
            <a href="#" class="btn btn-outline btn-secondary">Secondary</a>
            <a href="#" class="btn btn-outline btn-success">Success</a>
            <a href="#" class="btn btn-outline btn-error">Error</a>
            <a href="#" class="btn btn-outline btn-white">White</a>
            <a href="#" class="btn btn-outline btn-black">Black</a>
          </p>
          <p>
            <a href="#" class="btn btn-link btn-primary">Primary</a>
            <a href="#" class="btn btn-link btn-secondary">Secondary</a>
            <a href="#" class="btn btn-link btn-success">Success</a>
            <a href="#" class="btn btn-link btn-error">Error</a>
            <a href="#" class="btn btn-link btn-white">White</a>
            <a href="#" class="btn btn-link btn-black">Black</a>
          </p>

          <div class="highlight">
            <pre><code class="html">
&lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-error&quot;&gt;Error&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-white&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-black&quot;&gt;Black&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;btn btn-outline btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-outline btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-outline btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-outline btn-error&quot;&gt;Error&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-outline btn-white&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-outline btn-black&quot;&gt;Black&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;btn btn-link btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-link btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-link btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-link btn-error&quot;&gt;Error&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-link btn-white&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-link btn-black&quot;&gt;Black&lt;/a&gt;
            </code></pre>
          </div>
        </div>

        <div id="navbar" class="section">
          <h2 class="section-title">
            Module: Navbar
          </h2>
          <p>
            Default:
          </p>
          <div class="highlight mb-6">
            <pre><code class="html">
&lt;nav class=&quot;navbar&quot;&gt;...&lt;/nav&gt;
            </code></pre>
          </div>
          <p>
            Fixed to top:
          </p>
          <div class="highlight mb-6">
            <pre><code class="html">
&lt;nav class=&quot;navbar navbar--fixed&quot;&gt;...&lt;/nav&gt;
            </code></pre>
          </div>

          <p>
            Fixed to top with "transparent animation":
            <br>
            Navbar becomes transparent when scrolling down.
            <br>
            It fires when we scroll more than 150px from to the top.
          </p>
          <div class="highlight mb-6">
            <pre><code class="html">
&lt;nav class=&quot;navbar navbar--fixed navbar--fixed-transparent&quot; data-navbar&gt;...&lt;/nav&gt;
            </code></pre>
          </div>

          <p>
            Fixed to top with "show / hide animation":
            <br>
            Navbar slides out of view when scrolling down and slides back in when scrolling up.
            <br>
            It fires when we scroll more than 150px from to the top.
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;nav class=&quot;navbar navbar--fixed navbar--fixed-toggle&quot; data-navbar&gt;...&lt;/nav&gt;
            </code></pre>
          </div>
        </div>

        <div id="carousel" class="section">
          <h2 class="section-title">
            Module: Flickity Carousel
            <small><a href="https://flickity.metafizzy.co/">Docs</a></small>
          </h2>
          <p>
            Fade in carousel for no Flash Of Unstyled Content (FOUC)
          </p>
          <div class="highlight mb-6">
            <pre><code class="html">
&lt;div class=&quot;carousel is-hidden&quot; data-carousel&gt;
  &lt;div class=&quot;carousel-cell&quot;&gt;...&lt;/div&gt;
  &lt;div class=&quot;carousel-cell&quot;&gt;...&lt;/div&gt;
  &lt;div class=&quot;carousel-cell&quot;&gt;...&lt;/div&gt;
&lt;/div&gt;
            </code></pre>
          </div>
          {% include '../../modules/carousel/carousel.twig' %}
        </div>

        <div id="module-search-overlay" class="section">
          <h2 class="section-title">
            Module: Search Overlay
          </h2>
          <p>
            Most likely it could be used in e.g. navbar.<br>
            When an overlay is opened, we focus on input field.<br>
            The overlay can be closed clicking "x" close icon or Escape key.
          </p>
          {% include '../../modules/search-overlay/search-overlay.twig' %}
          <div class="highlight">
            <pre><code class="html">
&lt;p&gt;
  &lt;a href=&quot;#&quot; role=&quot;button&quot; data-search-overlay-trigger&gt;Trigger&lt;/a&gt;
&lt;/p&gt;
&lt;div class=&quot;search-overlay is-hidden&quot; data-search-overlay-target&gt;
  &lt;a href=&quot;#&quot; role=&quot;button&quot; class=&quot;search-overlay__close&quot; data-search-overlay-close&gt;x&lt;/a&gt;
  &lt;form action=&quot;&quot; class=&quot;search-overlay__form&quot;&gt;
    &lt;input class=&quot;search-overlay__input&quot; type=&quot;text&quot; name=&quot;q&quot; id=&quot;&quot; placeholder=&quot;Search&quot;&gt;
    &lt;button class=&quot;search-overlay__btn btn btn-link&quot;&gt;
      Search
    &lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;
            </code></pre>
          </div>
        </div>

        <div id="js-collapse" class="section">
          <h2 class="section-title">
            JS Component: Collapse
            <small><a href="https://medium.com/dailyjs/mimicking-bootstraps-collapse-with-vanilla-javascript-b3bb389040e7">Docs</a></small>
          </h2>
          <div class="collapse collapse-more-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident doloribus, eos rem. Nostrum possimus reiciendis, neque iure repudiandae explicabo hic veritatis ad, deleniti provident soluta, facere, voluptates tenetur quae. Maiores!
          </div>
          <p>
            <a
              href="#"
              data-toggle="collapse"
              data-target=".collapse.collapse-more-1"
              data-text-closed="Read More"
              data-text-opened="Read Less"
              role="button">Read More</a>
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;div class=&quot;collapse collapse-more-1&quot;&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident doloribus, eos rem. Nostrum possimus reiciendis, neque iure repudiandae explicabo hic veritatis ad, deleniti provident soluta, facere, voluptates tenetur quae. Maiores!
&lt;/div&gt;
&lt;p&gt;
  &lt;a
    href=&quot;#&quot;
    data-toggle=&quot;collapse&quot;
    data-target=&quot;.collapse.collapse-more-1&quot;
    data-text-closed=&quot;Read More&quot;
    data-text-opened=&quot;Read Less&quot;
    role=&quot;button&quot;&gt;Read More&lt;/a&gt;
&lt;/p&gt;
            </code></pre>
          </div>
        </div>

        <div id="js-smooth-scroll" class="section">
          <h2 class="section-title">
            JS Component: Smooth Scroll
            <small><a href="https://github.com/tsuyoshiwada/sweet-scroll">Docs</a></small>
          </h2>
          <p>
            <a href="#js-toggle" data-scroll role="button">Scroll to the next JS component</a>
          </p>
          <p>
            <a href="#" data-scroll="0" role="button">Scroll to top</a>
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;a href=&quot;#buttons&quot; data-scroll role=&quot;button&quot;&gt;Scroll to buttons section&lt;/a&gt;
&lt;div id=&quot;buttons&quot;&gt;Introduction&lt;/div&gt;
...
&lt;a href=&quot;#&quot; data-scroll=&quot;0&quot; role=&quot;button&quot;&gt;Scroll to top&lt;/a&gt;
            </code></pre>
          </div>
        </div>

        <div id="js-toggle" class="section">
          <h2 class="section-title">
            JS Component: Toggle Element
            <small><a href="https://gomakethings.com/how-to-show-and-hide-elements-with-vanilla-javascript/">Docs</a></small>
          </h2>
          <p>
            <a href="#example" role="button" data-toggle="toggle-element">Toggle element</a>
          </p>
          <p id="example" class="is-hidden">
            Here's some text we want to toggle visibility of. Let's do it!
          </p>
          <div class="highlight">
            <pre><code class="html">
&lt;p&gt;
  &lt;a href=&quot;#example&quot; role=&quot;button&quot; data-toggle=&quot;toggle-element&quot;&gt;Toggle element&lt;/a&gt;
&lt;/p&gt;
&lt;p id=&quot;example&quot; class=&quot;is-hidden&quot;&gt;
  Here&apos;s some text we want to toggle visibility of. Let&apos;s do it!
&lt;/p&gt;
            </code></pre>
          </div>
        </div>

        <div id="bootstrap-display" class="section">
          <h2 class="section-title">
            Bootstrap Display
            <small><a href="https://getbootstrap.com/docs/4.3/utilities/display/">Docs</a></small>
          </h2>
          <p>
            Quickly and responsively toggle the display value of components and more with our display utilities.
          </p>
        </div>

        <div id="bootstrap-flex" class="section">
          <h2 class="section-title">
            Bootstrap Flex
            <small><a href="https://getbootstrap.com/docs/4.3/utilities/flex/">Docs</a></small>
          </h2>
          <p>
            Quickly manage the layout, alignment, and sizing of grid columns, navigation, components, and more with a full suite of responsive flexbox utilities.
          </p>
        </div>

        <div id="bootstrap-grid" class="section">
          <h2 class="section-title">
            Bootstrap Grid
            <small><a href="https://getbootstrap.com/docs/4.3/layout/grid/">Docs</a></small>
          </h2>
          <div class="mb-6">
            <div class="row">
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
          <div class="highlight">
            <pre><code class="html">
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-sm&quot;&gt;
    One of three columns
  &lt;/div&gt;
  &lt;div class=&quot;col-sm&quot;&gt;
    One of three columns
  &lt;/div&gt;
  &lt;div class=&quot;col-sm&quot;&gt;
    One of three columns
  &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
          </div>
        </div>

        <div id="bootstrap-media-queries" class="section">
          <h2 class="section-title">
            Bootstrap Responsive Breakpoints<br>
            Media Queries
            <small><a href="https://getbootstrap.com/docs/4.3/layout/overview/#responsive-breakpoints">Docs</a></small>
          </h2>
          <p>
            CSS:
          </p>
          <div class="highlight">
            <pre><code class="css">
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

@include media-breakpoint-down(xs) { ... }
@include media-breakpoint-down(sm) { ... }
@include media-breakpoint-down(md) { ... }
@include media-breakpoint-down(lg) { ... }

@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }

@include media-breakpoint-between(md, xl) { ... }
            </code></pre>
          </div>
        </div>

        <div id="mixins" class="section">
          <h2 class="section-title">
            Mixins / Utilities
          </h2>

          <div class="section">
            <h2 class="section-title">
              Mixin: Aspect ratio
            </h2>
            <p>
              You can define various aspect ratios. e.g.:<br>
            </p>
            <div class="row mb-6">
              <div class="col-sm">
                <p>
                  Ratio 4:3
                </p>
                <div class="ratio-4-3" style="background-color: #f5f5f5;"></div>
              </div>
              <div class="col-sm">
                <p>
                  Ratio 16:9
                </p>
                <div class="ratio-16-9" style="background-color: #f5f5f5;"></div>
              </div>
            </div>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
@include aspect-ratio(16,9);
              </code></pre>
            </div>
            <p>HTML</p>
            <div class="highlight mb-6">
              <pre><code class="html">
&lt;div class=&quot;ratio-4-3&quot; style=&quot;background-image: url(&apos;...&apos;)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;ratio-16-9&quot; style=&quot;background-image: url(&apos;...&apos;)&quot;&gt;&lt;/div&gt;
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Clearfix
            </h2>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
@include clearfix;
              </code></pre>
            </div>
            <p>HTML</p>
            <div class="highlight mb-6">
              <pre><code class="html">
&lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Max Width Center
            </h2>
            <p>
              Set max width for an element and make it centered
            </p>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
@include max-width-center(600px);
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Overlay
            </h2>
            <p>
              Absolute element with top,right,bottom,left = 0
            </p>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
@include overlay();
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Pseudo
            </h2>
            <p>
              Pseudo elements after / before
            </p>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
 @include pseudo;
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Rem
            </h2>
            <p>
              Px to rem
            </p>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
font-size: rem(20)
margin: rem(40) rem(40);
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Responsive Font Size
            </h2>
            <p>
              Responsive font size for various media query breakpoints
            </p>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
@include font-size(xs, sm, md, lg, xl);
@include font-size(12px, 14px, 16px, 18px, 20px);

If you want to omit specific breakpoint please use ''
@include font-size(12px, '', '', '', 20px);
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Responsive Size
            </h2>
            <p>
              Responsive size for various media query breakpoints
            </p>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
Type:
h    : height,
minh : min-height,
maxh : max-height,
w    : width,
minw : min-width,
maxw : max-width

@include size('type', xs, sm, md, lg, xl);
@include size('h', 10px, 20px, 30px, 40px, 50px);

If you want to omit specific breakpoint please use ''
@include size('h', 10px, '', '', 40px, 50px);
              </code></pre>
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">
              Mixin: Responsive Spacing
            </h2>
            <p>
              Responsive spacing for various media query breakpoints
            </p>
            <p>CSS</p>
            <div class="highlight mb-6">
              <pre><code class="css">
@include space('type', xs, sm, md, lg, xl);
@include space('mb', 10px, 20px, 30px, 40px, 50px);

If you want to omit specific breakpoint please use ''
@include space('mb', 10px, '', '', 40px, 50px);

Type:
m  : margin
mt : margin-top
mr : margin-right
mb : margin-bottom
ml : margin-left
mx : (horizontal) margin-left and margin-right
my : (vertical) margin-top and margin bottom

p  : padding
pt : padding-top
pr : padding-right
pb : padding-bottom
pl : padding-left
px : (horizontal) padding-left and padding-right
py : (vertical) padding-top and padding bottom
              </code></pre>
            </div>
          </div>

          <div class="section section--last">
            <h2 class="section-title">
              Mixin: Triangle
            </h2>
            <p>
              CSS triangle
            </p>
            <div class="highlight mb-6">
              <pre><code class="css">
@include triangle(red, up, 20px);
              </code></pre>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  {% include '../components/footer.twig' %}

  <!-- https://highlightjs.org/ -->
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
  </script>

{% endblock %}
